<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout02</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/layout03.css">
</head>

<body>
    <div class="wrap">
        <div class="side1">side1</div>
        <main>
            <header>header</header>
            <div class="contents">contents</div>
            <footer>footer</footer>
        </main>
    </div>
</body>
</html>