<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout01</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/layout04.css">
</head>

<body>
    <div class="wrap">
        <header>header</header>
        <div class="nav">nav</div>
        <main>
            <div class="side">side</div>
            <div class="ct">
                <div class="content1">content1</div>
                <div class="content2">content2</div>
            </div>
        </main>
        <footer>footer</footer>
    </div>
</body>

</html>