<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout05</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/layout05.css">
</head>
<body>
    <div class="wrap">
        <header>
            <div class="container"></div>
            <!-- //container/inar라고 쓰기도 함/ 컨테이너엔 아무것도 주면 안 된다. 반응형 할 때는 이렇게 구조를 쓰는 것이다. -->
        </header>
        <div class="banner_wrap">
            <div class="container"></div>
            <!-- //container/inar라고 쓰기도 함 -->
        </div>
        <div class="content_wrap">
            <div class="container"></div>
            <!-- //container/inar라고 쓰기도 함 -->
        </div>
        <footer>
            <div class="container"></div>
            <!-- //container/inar라고 쓰기도 함 -->
        </footer>
    </div>
</body>
</html>