<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout06</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/layout06.css">
</head>
<body>
    <div class="wrap">
        <header>
            <div class="container">header</div>
        </header>
        <div class="banner_wrap">
            <div class="container">banner</div>
        </div>
        <div class="content_wrap">
            <div class="container">contents</div>
        </div>
        <footer>
            <div class="container">footer</div>
        </footer>
    </div>
</body>
</html>