<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>복습강의</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/layout07_1.css">

</head>

<body>
    <div class="wrap">
        <header>
            <div class="header_top">
                <div class="container">
                    <h2>header_top</h2>
                </div>
            </div>
            <nav>
                <div class="container">
                    <h2>nav</h2>
                </div>
            </nav>
        </header>
        <!-- // header -->
        <div class="hero_banner">
            <div class="container">
                <h2>hero_banner</h2>
            </div>
        </div>
        <!-- //hero_banner/ 위에 있는 배너는 mainbanner, mainvisual, hero, showcase라고 부르기도 한다. -->
        <main>
            <section>
                <div class="container">
                    <h2>content1</h2>
                </div>
            </section>
            <section>
                <div class="container">
                    <h2>content2</h2>
                </div>
            </section>
            <section class="section">
                <div class="container">
                    <h2>content3</h2>
                </div>
            </section>
        </main>
        <footer>
            <div class="footer_nav">
                <div class="container">
                    <h2>footer_nav</h2>
                </div>
            </div>
            <div class="footer_info">
                <div class="container">
                    <h2>footer_info</h2>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>

<!-- ★컨테이너의 목적은 콘텐츠를 가두기 위해서이다. 그래서 안에 있는 콘텐츠(알멩이)를 가둬야 한다. -->