*{margin: 0; padding: 0;}
ul{list-style: none;}

.inner{width: 100%; max-width: 1400px; margin: auto;}
.w100{width: 100%; background-color: aqua;}

nav{width: 100%; background-color: black; height: 50px;} /* 배경이 되는 아이 */
ul.gnb {display: flex;} /* 부모에게 플렉스 선언을 해야 자식들이 옆으로 배치된다. */
ul.gnb a{display: block; padding: 1rem; line-height: 1.2rem;}
ul.gnb li{height: 100%;}


.w100{overflow: hidden; height: 0;} 
ul.gnb>li>a {color: white;} /* 원뎁스 색 바꾸기 */
.depth1:hover .w100{height: auto;}

/* 투뎁스 100%로 드롭다운 */
nav{position: relative;}
nav>.gnb>.depth1>.w100{position: absolute; left: 0;} /* 배경은 100%지만 .inner에 붙은 max-width값이 있어서 자식들은 가둬져 있다. */