@charset "utf-8";

.wrap { width: 100%; display: flex; flex-wrap: wrap;} 

/* header */
header { width: 100%; max-width: 200px; height: 850px; } 

header .logo { margin-top: 4rem; width: 200px; height: 40px; line-height: 4rem; text-align: center; } 

header .logo a { color: var(--primary); } 

header .nav {margin-top: 1.8rem;} 
header .nav ul.depth1 li{position: relative;}
header .nav ul.depth1>li>a{display: block; padding: 1rem; padding-left: 4rem; color: var(--text1); transition: all 300ms;}
header .nav ul li a:hover{background-color: var(--secondary); color: var(--background);}

header .nav ul.depth2 li a:hover{background:none; color: var(--pointcolor1); text-decoration: none;}

/* header .nav ul.depth2{position: absolute; top: 0; left: 200px; width: 600px; background-color: white;} */
header .nav ul.depth2{position: absolute; top: 0; right: -600px; width: 600px;
display: none;}/* 꽉찬 배경일때/ 배경색이 바뀌지 않는 사이트의 경우에 */

header .nav ul.depth2 li{display: inline-block; width: 20%; height: 100%;}
/* display: none;은 블럭에는 못 쓴다. 애니메이션을 넣어야 된다. 그래서 배경색을 안 준 것 */
header .nav ul.depth2>li>a{display: block; padding: 1rem; padding-left: 4rem;}
/* li가 인라인이고, a가 인라인블럭이기 때문에 a가 크기를 제대로 못 가져서 자꾸 조금만 벗어나면 메뉴가 사라지는 에러가 생기는 것이다.=>li를 인라인블럭으로 바꾼다. a는 블럭으로 바꾼다. 그뒤 a의 크기를 다 없애고 li에 크기를 준다.(a는 li{부모}값을 상속받는다.)*/


header::before{content:''; display: block; position: absolute; width: 0%; height: 30rem; background: #ffffff8a; left: 200px; top: 9rem; transition: all 0.3s;}

header.on:before{width: 100%;}

.spoatspot {margin-top: 6.3rem; padding: 1.1rem 2.5rem; display: flex; justify-content: space-around;}
.spoatspot a{display: block; color: var(--primary);}

/* main */
main { width: 100%; max-width: calc(100% - 200px); background-color: var(--text2); } 

main .quick{position: fixed; right: 2rem; top: 2rem; width: 10rem; height: 24.5rem; background: #ebebeb; z-index: 99; padding: 1rem 2.5rem 2.5rem; display: flex; flex-direction: column; justify-content: space-evenly; font-size: 1.4rem;}

main .quick span{padding-top: 4rem;}

main .quick li a{display: block; text-align: center;}
main .quick li a *{display: block;}
main .quick li a .icon{display: block; width: 5rem; height: 3.2rem;}
main .quick li:nth-child(1) a{background:url(../img/icon_1.png) no-repeat center center;}
main .quick li:nth-child(2) a{background:url(../img/icon_2.png) no-repeat center center;}
main .quick li:nth-child(3) a{background:url(../img/icon_3.png) no-repeat center center;}

main .slide { width: 100%; height: 400px; } 
main .slide_wrap{ width: 100%; height: 400px; position: relative;} 
main .slide_wrap li{ position: absolute; width: 100%; height: 100%; opacity: 0; background: white no-repeat center center/cover; transition: all 0.3s ease-in-out;} 
main .slide_wrap li.on {opacity: 1;} 

/* main_slide1 */
main .slide_wrap li.slide1{background-image: url(../img/banner_1.png);}
main .slide_wrap li.slide1 .text_box span{display: block; padding: 1rem; background: rgba(0,0,0,.5)}
main .slide_wrap li.slide1 .text_box{max-width: 50%; text-align: center; color:var(--background); position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); padding: 3rem;}

/* main_slide2 */
main .slide_wrap li.slide2{background-image: url(../img/banner_2.jpg);}
main .slide_wrap li.slide2 .text_box span{display: block; padding: 1rem; background: rgba(0,0,0,.5)}
main .slide_wrap li.slide2 .text_box{max-width: 50%; text-align: center; color:var(--background); position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);  padding: 3rem;}

/* main_slide3 */
main .slide_wrap li.slide3{background-image: url(../img/banner_3.jpg);}
main .slide_wrap li.slide3 .text_box span{display: block; padding: 1rem; background: rgba(0,0,0,.5)}
main .slide_wrap li.slide3 .text_box{max-width: 50%; text-align: center; color:var(--background); position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);  padding: 3rem;}


/* main_banner */
main .banner { width: 100%; height: 200px; display: flex; justify-content: center; align-items: center; background-color: var(--background);}
main .banner .inner{display: flex; max-width: 900px; max-height: 140px; justify-content: space-between; align-items: center;}
main .banner .inner .row{display: flex; gap: 4rem;}
main .banner .inner .icon{flex-basis: 30%;}
main .banner .inner .thumds{flex: 0 1 25rem; height: 14rem; background:url(../img/box.png);}
main .banner .inner .text_box{flex: 0 1 57rem;}
main .banner .inner .text_box p{color: var(--text2); padding-top: 1rem;}

/* main_board */
main .board { width: 100%; height: 250px; padding: 1rem; background-color: var(--background);}
main .board .inner{ width: 100%; max-width: 900px; margin: auto;}
main .board .row{display:flex;}
main .board .bottons li{width: 9rem; padding: 1rem; text-align: center; border: 2px solid var(--primary); background-color: var(--background);}

main .board .bottons li.on{background-color: var(--primary);}
main .board .bottons li.on a{background-color: var(--primary); color: var(--background);}

main .board .panels{height: 18rem; max-width: 60rem; flex-direction: column; position: relative; border: 2px solid var(--primary); border-top: none;}

main .board .panels .row {justify-content: space-between;}
main .board .panels .row div{padding: 0.6rem 2rem;}
main .board .panels .row .left{cursor: pointer;}
/* ★마우스 포인터 손가락모양으로 바꾸는 것 */
main .board .panels .row .left:hover{text-decoration: underline;}

main .board h2{position: absolute; right: 60rem; top: 7rem; width: 20rem; text-align: center; line-height: 1.25; color: #bcbcbc; padding: 1rem; font-size: 3.5rem;}

.panel1,panel2 {position: absolute; height: 14rem; width: 100%;}
.panel2 .row{padding: 2rem 4rem;}
.panel2{display: none;}

main .board .panels::before {content: ''; position: absolute; width: calc(100% - 17.6rem); height: 2px; background-color: var(--primary); top: -2px; right: -2px;}

main .board .popup {position: fixed; z-index: 9999; width: 38rem; height: 30rem; background: #ffdbb9 url(../img/Rectangle\ 13.png) no-repeat; top:0; right: 0; display: none;}

.popup .textbox{position: absolute; top:8rem; left: 4rem;}
.popup .textbox .h1{position: static; width: 100%; color: var(--primary);}
.popup .close{position: absolute; top:1rem; right: 1rem;}

.overlay{position: fixed; background: rgba(0,0,0,.5); left:0; right: 0; top: 0; bottom: 0; z-index: 99; display: none;}

.overlay.open{display: block;}

/* footer */

footer { width: 100%; height: 120px; background-color: var(--primary); } 